* {
    box-sizing: border-box;
    font-family: 'PingFangTC-Thin', 'Microsoft JhengHei', 'Roboto', sans-serif;
}

.iphone {
    border: 5px solid rgb(40, 40, 40);
    background: rgb(10, 10, 10);
    position: absolute;
    width: 436px;
    height: 888px;
    left: 0px;
    top: 0px;
    border-radius: 60px;
    margin: 25px;
}

.screen {
    border: 1px solid rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    text-align: center;
    padding: 40px;
    border: 1px solid rgb(40, 40, 40);
    background: rgb(40, 40, 40);
    position: absolute;
    width: 384px;
    height: 682px;
    left: 51px;
    top: 128px;
}

.mainbutton {
    border: 3px solid rgb(40, 40, 40);
    background: rgb(20, 20, 20);
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    left: 212px;
    top: 828px;
}

.speaker {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgb(40, 40, 40);
    position: absolute;
    width: 84px;
    height: 8px;
    border-radius: 4px;
    left: 203px;
    top: 76px;
}

.camera_outer {
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgb(40, 40, 40);
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: 162px;
    top: 73px;
}

.camera_inner {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: rgb(28, 56, 125);
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    left: 162.5px;
    top: 74px;
}

.button1 {
    background: rgba(20, 20, 20, 0.9);
    position: absolute;
    width: 6px;
    height: 30px;
    border-radius: 2px;
    left: 21px;
    top: 131px;
}

.button2 {
    background: rgba(20, 20, 20, 0.9);
    position: absolute;
    width: 6px;
    height: 57px;
    border-radius: 2px;
    left: 21px;
    top: 195px;
}

.button3 {
    background: rgba(20, 20, 20, 0.9);
    position: absolute;
    width: 6px;
    height: 57px;
    border-radius: 2px;
    left: 21px;
    top: 266px;
}

.button4 {
    background: rgba(20, 20, 20, 0.9);
    position: absolute;
    width: 6px;
    height: 57px;
    border-radius: 2px;
    left: 458px;
    top: 195px;
}